<main>
    <br>
    <br>
    <br>
    <form action="?" method="POST" id="formInfo">
        <label for="name">Name: </label><br>
        <input type="text" name="name" #name placeholder="name"><br>
        <label for="time">Time: </label><br>
        <input type="text" name="time" value="60" #time> <br>
        <label for="mistakes">Mistakes: </label><br>
        <input type="number" name="mistakes" value="0" #mistakes>
    </form>

    <div class="language">
        <select name="language" id="" #selectList>
            <option value="selectLanguage">Select Language</option>
            <option value="english">English</option>
            <option value="serbian">Serbian</option>
        </select>
    </div>
    <div class="words">
        <button class="start" (click)="startTyping(selectList)">Start typing</button>
        <br>
        <textarea name="words" id="showWords" cols="50" rows="10" #showWords></textarea>
        <br>
        <input type="text" name="typing" placeholder="TYPE HERE. . ." id="typedWords" #typedWords (keyup)="checkTypingMistakes()">
    </div>
    <div class="mistakesDiv">
        <h3>Mistakes:</h3>
        <ul>
            <li *ngFor="let greske of greskeNiz" style="list-style: decimal;">
                {{greske}}
            </li>
        </ul>
    </div>
</main>