aside{
   position: relative;
   float: left;
    width: 100%;
    min-height: 450px;
    color: white;
    text-align: center;
    overflow: inherit;
    li{
        cursor: pointer;
    }
    li:hover{
        color: darkturquoise;
    }
}
#showResults{
    display: none;
    border: solid 2px darkturquoise;
    position: absolute;
    top: 0;
    width: 40%;
    height: 300px;
    text-align: center;
    background-color: rgb(99,99,99);
    button{
        position: relative;
        float: right;
    }
}
@media only screen and (max-width:640px){
    #showResults{
        width: 99%;
    }
}
